<div class="d-content" style="max-height: 579px; overflow: auto; height: auto;">
  <div class="dialog_content">

    <form method="post">
          <input type="hidden" name="persontype" value="1">
            <table width="100%" cellpadding="2" cellspacing="1" class="table_form">
                <tbody>


                                                <tr>
                    <th>手机号码</th>
                    <td><input type="text" name="telephone" class="input-text easyui-validatebox"
                    data-options="required:true,validType:['isNumeric']"></td>
                </tr>


                <tr>
                    <th>姓名 :</th>
                    <td><input type="text" name="username" class="input-text easyui-validatebox"
                    data-options="required:true"></td>
                </tr>
                <tr>
                    <th>密码 :</th>
                    <td><input type="password" name="passwd" class="input-text easyui-validatebox"
                    data-options="required:true"></td>
                </tr>


                                <tr>
                    <th>岗位 :</th>
                    <td><input type="text" name="station" class="input-text"></td>
                </tr>



                <tr>
                    <th>部门 :</th>
                    <td><input type="text" name="dept" class="input-text" >
                    </td>
                </tr>


                <tr>
                    <th>描述 :</th>
                    <td><input type="text" name="description" class="input-text" size="50"></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
