<div class="easyui-layout"  data-options="fit:true">
  <div data-options="region:'center'" data-options="">
    <ul opt="photoinfos"></ul>
  </div>
  <div data-options="region:'north'" data-options="" style="height:40px;">
    <a class="photomng-tab" opt="delete-photo-manager">删除图片管理</a>
    <a class="photomng-tab" opt="recovery-photo-manager">恢复图片管理</a>
        <input class="easyui-searchbox-noauto" data-options="prompt:'地址'"
           type="keyword" style="width:200px" >

  </div>
  <div data-options="region:'south'" data-options="" style="height:40px;">
    <div opt="pp" style="background:#efefef;border:1px solid #ccc;"></div>
  </div>
</div>
