<div class="d-content" style="max-height: 579px; overflow: auto; height: auto;">
  <div class="dialog_content">
    <form method="post">

            <table width="100%" cellpadding="2" cellspacing="1" class="table_form">
                <tbody>
                <tr>
                    <th width="80">关键字 :</th>
                    <td><input type="text" name="keys" class="input-text" >

                    </td>
                </tr>

                <tr>
                    <th>地址 :</th>
                    <td><input type="text" name="address" class="input-text"></td>
                </tr>
                <tr>
                    <th>经度 :</th>
                    <td><input type="text" name="longitude" class="input-text"></td>
                </tr>


                                <tr>
                    <th>纬度</th>
                    <td><input type="text" name="latitude" class="input-text"></td>
                </tr>

                                                <tr>
                    <th>描述</th>
                    <td><input type="text" name="description" class="input-text"></td>
                </tr>



                <tr>
                    <th>采集时间 :</th>
                    <td><input type="text" name="collecttime" class="input-text easyui-datetimebox" >
                    </td>
                </tr>

                <tr>
                    <th>采集图片时间 :</th>
                    <td><input type="text" name="phototime" class="input-text easyui-datetimebox" >
                    </td>
                </tr>
                                <tr>
                    <th>采集图片 :</th>
                    <td><input type="file" name="photofile"  >
                    </td>
                                </tr>

                <tr>
                    <th>采集图片时间 :</th>
                    <td><input type="text" name="phototime" class="input-text easyui-datetimebox" >
                    </td>
                </tr>
                                <tr>
                    <th>采集图片 :</th>
                    <td><input type="file" name="photofile"  >
                    </td>
                                </tr>


                                                <tr>
                    <th>采集语音时间 :</th>
                    <td><input type="text" name="voicetime" class="input-text easyui-datetimebox" >
                    </td>
                </tr>
                                <tr>
                    <th>采集语音 :</th>
                    <td><input type="file" name="voicefile"  >
                    </td>
                                </tr>





                <tr>
                    <th>状态 :</th>
                    <td><input type="text" name="status" class="input-text" size="50"></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
