<div class="d-content" style="max-height: 579px; overflow: auto; height: auto;">
    <div class="dialog_content">
        <form method="post">
            <table width="100%" cellpadding="2" cellspacing="1" class="table_form">
                <tbody>
                <tr>
                    <th width="80">文案号 :</th>
                    <td><input type="text" name="docketno" operate="like" class="input-text">

                    </td>
                </tr>

                <tr>
                    <th>文件名称 :</th>
                    <td><input type="text" name="filepath" operate="like" class="input-text"></td>
                </tr>
                <tr>
                    <th>内容 :</th>
                    <td><input type="text" name="text" operate="like" class="input-text"></td>
                </tr>


                <tr>
                    <th>开始时间 :</th>
                    <td><input class="easyui-datebox" name="createdate1" operate="ge" class="input-text"></td>
                </tr>
                <tr>
                    <th>结束时间 :</th>
                    <td><input class="easyui-datebox" name="createdate2" operate="le" class="input-text"></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
