<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.springmvc.dao.DiseaseInfoMapper">
  <resultMap id="BaseResultMap" type="cn.springmvc.model.DiseaseInfo">
    <id column="DISEASEID" jdbcType="DECIMAL" property="diseaseid" />
    <result column="DISEASENAME" jdbcType="VARCHAR" property="diseasename" />
    <result column="BEGINTIME" jdbcType="TIMESTAMP" property="begintime" />
    <result column="ENDTIME" jdbcType="TIMESTAMP" property="endtime" />
    <result column="HOSPITALIZATION" jdbcType="VARCHAR" property="hospitalization" />
    <result column="OUTCOME" jdbcType="VARCHAR" property="outcome" />
    <result column="OLDID" jdbcType="DECIMAL" property="oldid" />
  </resultMap>
  <sql id="Base_Column_List">
    DISEASEID, DISEASENAME, BEGINTIME, ENDTIME, HOSPITALIZATION, OUTCOME, OLDID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from DISEASEINFO
    where DISEASEID = #{diseaseid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from DISEASEINFO
    where DISEASEID = #{diseaseid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="cn.springmvc.model.DiseaseInfo">
    insert into DISEASEINFO (DISEASEID, DISEASENAME, BEGINTIME, 
      ENDTIME, HOSPITALIZATION, OUTCOME, 
      OLDID)
    values (#{diseaseid,jdbcType=DECIMAL}, #{diseasename,jdbcType=VARCHAR}, #{begintime,jdbcType=TIMESTAMP}, 
      #{endtime,jdbcType=TIMESTAMP}, #{hospitalization,jdbcType=VARCHAR}, #{outcome,jdbcType=VARCHAR}, 
      #{oldid,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cn.springmvc.model.DiseaseInfo">
    insert into DISEASEINFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="diseaseid != null">
        DISEASEID,
      </if>
      <if test="diseasename != null">
        DISEASENAME,
      </if>
      <if test="begintime != null">
        BEGINTIME,
      </if>
      <if test="endtime != null">
        ENDTIME,
      </if>
      <if test="hospitalization != null">
        HOSPITALIZATION,
      </if>
      <if test="outcome != null">
        OUTCOME,
      </if>
      <if test="oldid != null">
        OLDID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="diseaseid != null">
        #{diseaseid,jdbcType=DECIMAL},
      </if>
      <if test="diseasename != null">
        #{diseasename,jdbcType=VARCHAR},
      </if>
      <if test="begintime != null">
        #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="hospitalization != null">
        #{hospitalization,jdbcType=VARCHAR},
      </if>
      <if test="outcome != null">
        #{outcome,jdbcType=VARCHAR},
      </if>
      <if test="oldid != null">
        #{oldid,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.springmvc.model.DiseaseInfo">
    update DISEASEINFO
    <set>
      <if test="diseasename != null">
        DISEASENAME = #{diseasename,jdbcType=VARCHAR},
      </if>
      <if test="begintime != null">
        BEGINTIME = #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        ENDTIME = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="hospitalization != null">
        HOSPITALIZATION = #{hospitalization,jdbcType=VARCHAR},
      </if>
      <if test="outcome != null">
        OUTCOME = #{outcome,jdbcType=VARCHAR},
      </if>
      <if test="oldid != null">
        OLDID = #{oldid,jdbcType=DECIMAL},
      </if>
    </set>
    where DISEASEID = #{diseaseid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.springmvc.model.DiseaseInfo">
    update DISEASEINFO
    set DISEASENAME = #{diseasename,jdbcType=VARCHAR},
      BEGINTIME = #{begintime,jdbcType=TIMESTAMP},
      ENDTIME = #{endtime,jdbcType=TIMESTAMP},
      HOSPITALIZATION = #{hospitalization,jdbcType=VARCHAR},
      OUTCOME = #{outcome,jdbcType=VARCHAR},
      OLDID = #{oldid,jdbcType=DECIMAL}
    where DISEASEID = #{diseaseid,jdbcType=DECIMAL}
  </update>
</mapper>