<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.springmvc.dao.FileinfoMapper">
  <resultMap id="BaseResultMap" type="cn.springmvc.model.Fileinfo">
    <id column="FILEID" jdbcType="DECIMAL" property="fileid" />
    <result column="FILENAME" jdbcType="VARCHAR" property="filename" />
    <result column="STORENAME" jdbcType="VARCHAR" property="storename" />
    <result column="FILEPATH" jdbcType="VARCHAR" property="filepath" />
    <result column="ORGID" jdbcType="DECIMAL" property="orgid" />
    <result column="ISDEL" jdbcType="DECIMAL" property="isdel" />
  </resultMap>
  <sql id="Base_Column_List">
    FILEID, FILENAME, STORENAME, FILEPATH, ORGID, ISDEL
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from FILEINFO
    where FILEID = #{fileid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from FILEINFO
    where FILEID = #{fileid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="cn.springmvc.model.Fileinfo">
    insert into FILEINFO (FILEID, FILENAME, STORENAME, 
      FILEPATH, ORGID, ISDEL
      )
    values (#{fileid,jdbcType=DECIMAL}, #{filename,jdbcType=VARCHAR}, #{storename,jdbcType=VARCHAR}, 
      #{filepath,jdbcType=VARCHAR}, #{orgid,jdbcType=DECIMAL}, #{isdel,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.springmvc.model.Fileinfo">
    insert into FILEINFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileid != null">
        FILEID,
      </if>
      <if test="filename != null">
        FILENAME,
      </if>
      <if test="storename != null">
        STORENAME,
      </if>
      <if test="filepath != null">
        FILEPATH,
      </if>
      <if test="orgid != null">
        ORGID,
      </if>
      <if test="isdel != null">
        ISDEL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileid != null">
        #{fileid,jdbcType=DECIMAL},
      </if>
      <if test="filename != null">
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="storename != null">
        #{storename,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null">
        #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null">
        #{orgid,jdbcType=DECIMAL},
      </if>
      <if test="isdel != null">
        #{isdel,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.springmvc.model.Fileinfo">
    update FILEINFO
    <set>
      <if test="filename != null">
        FILENAME = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="storename != null">
        STORENAME = #{storename,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null">
        FILEPATH = #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null">
        ORGID = #{orgid,jdbcType=DECIMAL},
      </if>
      <if test="isdel != null">
        ISDEL = #{isdel,jdbcType=DECIMAL},
      </if>
    </set>
    where FILEID = #{fileid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.springmvc.model.Fileinfo">
    update FILEINFO
    set FILENAME = #{filename,jdbcType=VARCHAR},
      STORENAME = #{storename,jdbcType=VARCHAR},
      FILEPATH = #{filepath,jdbcType=VARCHAR},
      ORGID = #{orgid,jdbcType=DECIMAL},
      ISDEL = #{isdel,jdbcType=DECIMAL}
    where FILEID = #{fileid,jdbcType=DECIMAL}
  </update>
</mapper>