<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.springmvc.dao.MsgInfoMapper">
  <resultMap id="BaseResultMap" type="cn.springmvc.model.MsgInfo">
    <id column="MSGID" jdbcType="DECIMAL" property="msgid" />
    <result column="ORGID" jdbcType="DECIMAL" property="orgid" />
    <result column="MSGCONTENT" jdbcType="VARCHAR" property="msgcontent" />
    <result column="MSGTIME" jdbcType="TIMESTAMP" property="msgtime" />
  </resultMap>
  <sql id="Base_Column_List">
    MSGID, ORGID, MSGCONTENT, MSGTIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from MSGINFO
    where MSGID = #{msgid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from MSGINFO
    where MSGID = #{msgid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="cn.springmvc.model.MsgInfo">
    insert into MSGINFO (MSGID, ORGID, MSGCONTENT, 
      MSGTIME)
    values (#{msgid,jdbcType=DECIMAL}, #{orgid,jdbcType=DECIMAL}, #{msgcontent,jdbcType=VARCHAR}, 
      #{msgtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.springmvc.model.MsgInfo">
    insert into MSGINFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="msgid != null">
        MSGID,
      </if>
      <if test="orgid != null">
        ORGID,
      </if>
      <if test="msgcontent != null">
        MSGCONTENT,
      </if>
      <if test="msgtime != null">
        MSGTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="msgid != null">
        #{msgid,jdbcType=DECIMAL},
      </if>
      <if test="orgid != null">
        #{orgid,jdbcType=DECIMAL},
      </if>
      <if test="msgcontent != null">
        #{msgcontent,jdbcType=VARCHAR},
      </if>
      <if test="msgtime != null">
        #{msgtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.springmvc.model.MsgInfo">
    update MSGINFO
    <set>
      <if test="orgid != null">
        ORGID = #{orgid,jdbcType=DECIMAL},
      </if>
      <if test="msgcontent != null">
        MSGCONTENT = #{msgcontent,jdbcType=VARCHAR},
      </if>
      <if test="msgtime != null">
        MSGTIME = #{msgtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where MSGID = #{msgid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.springmvc.model.MsgInfo">
    update MSGINFO
    set ORGID = #{orgid,jdbcType=DECIMAL},
      MSGCONTENT = #{msgcontent,jdbcType=VARCHAR},
      MSGTIME = #{msgtime,jdbcType=TIMESTAMP}
    where MSGID = #{msgid,jdbcType=DECIMAL}
  </update>
</mapper>